nav {
    background-color:rgb(15, 15, 110);
    height: 80px;
}

.nav-link {
    background-color:rgb(25, 75, 185);
    color: white;
    line-height:40px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
